body {
  margin:0;
  background: #505050;
  color: WhiteSmoke;
}

.relevant-ticker {
  margin-right:10px;
}

.chart-parent {
  background: white;
  width: 60%;
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration:none;
  display:flex;
  justify-content: center;
  background: #181818;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #343434;
}

li a:hover {
  background-color: #343434;
}

/* welcome page */

.welcome-message {
  text-align:center;
}

.welcome-message p {
  width: 50%;
  margin: 0 auto;
}

/* My Stocks */

.stock-list-input {
  text-align: center;
}

.stock-list-input input{
  margin-right: 10px;
}
.stock-list-container {
  width:80%;
  height:60%;
  margin: 0 auto;
  margin-left: 10%;
  margin-right:10%;
  text-align:left;
  margin-top: 30px;
  border: 1px solid black;
  margin-bottom:5%;
}

.stock-row {
  display:grid;
  grid-template-columns: .7fr 1fr 1fr 1fr 1fr;
}
.stock-row p {
  padding-left:10px;
}

.stock-item-buttons {
  display:flex;
  justify-content:center;
  align-items: center;
}
.stock-item-buttons p {
  width: 70%;
  height: 70%;
  text-align:center;
}

.stock-item-buttons:hover {
  background: #343434;
}

/* Details */

h1 a, p a {
  color: WhiteSmoke;
}

h1 a:hover, p a:hover {
  font-weight:bold;
}

.basic-details {
  border-bottom: 1px solid black;
  text-align:center;
}
.basic-details img{
  position:absolute;
  left:0;
  top: 47px;
}

.details {
  text-align:center;
  margin-top:20px;
}
.details input {
  margin-right: 10px;
}

.relevant-conatiner-div span:hover{
  font-weight: bold;
}

.chart-parent {
  margin-top: 15px;
}
.chart-container-div {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.news-item {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.chart-div, .news-container-inner-div, .relevant-container-inner-div {
  margin-left: 20px;
}
.news-container-div {
  box-sizing:border-box;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.chart-div form {
  margin-left: 300px;
}
.chart-div select {
  margin-right: 10px;
}

/* Movers */

.movers-outer-div {
  display: flex;
  justify-content: space-around;
  text-align:center;
}

.losers-container-outer-div, .gainers-container-outer-div {
  width: 45%;
  margin: 20px 0 10% 0;
  border-radius:10px;

}
.losers-container-outer-div {
  box-shadow: 0px 5px 10px 10px #380000;
}

.gainers-container-outer-div {
  box-shadow: 0px 5px 10px 10px #003800;
}

.losers-container-div, .gainers-container-div{
  border-top:1px solid black;
}

.mover-item {
  border-bottom: 1px solid black;
}

/* IPO */

.ipo-container-div {
  padding: 2% 5% 0 5%;
  text-align:center;
}
h2 a {
  color:WhiteSmoke;
}
h2 a:hover {
  font-weight:bolder;
}

.ipo-container-div p {
  text-align:left;
}

.ipo-div {
  border-bottom: 1px solid black;
  margin-bottom: 7%;
}
.ipo-shares-div {
  text-align:left;
}
.ipo-shares-div span {
  margin-right:30px;
}

h1 a:hover {
  font-weight: bolder;
}
